@import "../../variables";
#getstarted {
  background: $violet;
  overflow: hidden;
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .image-container {
    display: flex;
    justify-content: center;
  }
  .shape {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    img {
      width: 80%;
    }
  }
  .image {
    width: 50%;
    transform: translateY(20%);
    position: relative;
    z-index: 2;
  }
}
