@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
#team {
  text-align: center;
  padding: 12rem 0;
  .text-container {
    margin-bottom: 6rem;
    @include media-breakpoint-up(md) {
      margin-bottom: 6rem;
    }
    h2 {
      margin-bottom: 3rem;
    }
  }
  .member {
    margin-bottom: 6rem;
    @include media-breakpoint-up(md) {
      margin-bottom: 0rem;
    }
    .image {
      margin-bottom: 2rem;
      border-radius: 100%;
      padding: 1rem;
      background: linear-gradient(
        180deg,
        #6e9fe9 0%,
        #6fcf97 33.25%,
        #ce93d8 71.99%,
        #f24e1e 100%
      );
      @include media-breakpoint-up(md) {
        margin-bottom: 3rem;
      }
    }
  }
}
