@import "../../variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
.navbar {
  background: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.5rem 3rem !important;
  .nav-link {
    display: flex;
    align-items: center;
    color: inherit !important;
    padding: 0 !important;
  }
}
.borrow-modal {
  color: white;
  .modal-content {
    border-radius: 2rem;
    border: none;
    background: linear-gradient(122.74deg, #ce93d8 2.48%, #6e9fe9 91.77%);
    box-shadow: 0px 30px 80px rgba($color: #060f20, $alpha: 0.5);
    padding: 3rem;
    margin: 1.5rem;
    position: relative;
    @include media-breakpoint-up(md) {
      padding: 4rem;
    }
    h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
    .modal-close {
      position: absolute;
      right: -1.5rem;
      top: -1.5rem;
      width: 1.5rem;
      transition: 0.3s ease;
      cursor: pointer;
      &:hover {
        transform: rotate(90deg);
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      button {
        all: unset;
        background: white;
        color: $blue;
        padding: 1rem 2rem;
        text-align: center;
        border-radius: 1rem;
        cursor: pointer;
        &.success {
          background: $green;
          color: white;
          box-shadow: 0px 0px 10px $green;
        }
      }
      input {
        padding: 1rem 2rem;
        background: none;
        border: 2px solid white;
        border-radius: 1rem;
        color: white;
        outline: none;
        &::placeholder {
          color: white;
        }
      }
      .error {
        color: red;
        font-size: 1.4rem;
      }
      .submitbutton {
        margin-top: 2rem;
      }
    }
  }
}
